Adresse.xsd

<?xml version="1.1" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/Quatsch">
    <xs:complexType name="Adresse">
        <xs:sequence>
            <xs:element name="Land" type="xs:string"/>
            <xs:element name="Ort" type="xs:string"/>
            <xs:element name="PLZ" type="xs:string"/>
            <xs:element name="Straße" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
