Kunden.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
            targetNamespace="https://Pornhub.com/kunden">
    <xs:element name="Kunden" type="KundenType">
        </xs:element>
        <xs:complexType name="KundenType">
            <xs:sequence>
                <xs:element name= "Kunde" type="KundeType"/>
            </xs:sequence>
        </xs:complexType>
        <xs:complexType name="KundeType">
            <xs:sequence>
                <xs:element type="xs:string" name="Name" />
                <xs:element type="xs:string" name="Vorname" />
                <xs:element name="Adresse" type="AdresseType"/>
                <xs:element name="Bankverbindung" type="BankverbindungType"/>
            </xs:sequence>
            <xs:attribute name="Id" type="xs:ID" use="required"/>
        </xs:complexType>
        <xs:complexType name="AdresseType">
            <xs:sequence>
                <xs:element name="Land" type="xs:string"/>
                <xs:element name="Ort" type="xs:string"/>
                <xs:element name="PLZ" type="xs:string"/>
                <xs:element name="Straße" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
        <xs:complexType name="BankverbindungType">
            <xs:sequence>
                <!--      TODO check IBAN          -->
                <xs:element name="IBAN" type="xs:string"/>
                <xs:element name="Kontonummer" type="xs:string"/>
                <xs:element name="Bankleitzahl" type="xs:string"/>
                <xs:element name="BIC" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
</xs:schema>
